#reset_password {
    align-items: center;
    color: #f1f1f1;
    display: flex;
    height: 100vh;
    padding: 100px 0;
}

#reset_password .reset_password_form {
    background-color: var(--grey-light);
    border-radius: 5px;
    margin: auto;
    padding: 50px 30px;
    text-align: center;
    width: 350px;
}

#reset_password .reset_password_form .info-text {
    font-weight: 300;
    margin-bottom: 35px;
}

#reset_password .reset_password_form .info-text h2 {
    font-weight: 900;
    margin: -15px;
    margin-bottom: 5px;
}

#reset_password .reset_password_form p {
    background-color: var(--grey-lighter);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 10px;
}

#reset_password .reset_password_form p label {
    margin-bottom: 5px;
}

#reset_password .reset_password_form p label .required {
    color: #ff4d4d;
    opacity: 0;
    transition: 0.3s ease-in-out
}

#reset_password .reset_password_form p label .required.show {
    opacity: 1;
}

#reset_password .reset_password_form p input {
    background-color: var(--grey-light);
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Font Awesome 5 Free", "Titillium Web", sans-serif;
    padding: 10px 15px;
    width: 100%;
}

#reset_password .reset_password_form p input::placeholder {
    color: #f1f1f1;
    font-size: 12px;
    font-weight: 900;
}

#reset_password .reset_password_form p input:-webkit-autofill,
#reset_password .reset_password_form p input:-webkit-autofill:hover, 
#reset_password .reset_password_form p input:-webkit-autofill:focus {
    caret-color: #f1f1f1;
    -webkit-text-fill-color: #f1f1f1;
    -webkit-box-shadow: 0 0 0px 1000px var(--grey-light) inset;
    border: 1px solid #3500d3;
    box-shadow: 0 0 0px 1000px var(--grey-light) inset;
    transition: background-color 5000s ease-in-out 0s;
}

#reset_password button {
    background-color: #3500d3;
    border: none;
    border-radius: 3px;
    color: #f1f1f1;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    width: 100%;
}

#reset_password button:hover {
    cursor: pointer;
    box-shadow: 0 5px 0 0 var(--grey-dark);
}

#reset_password button:active {
    box-shadow: none;
    transform: translateY(5px);
}
