#reset_password_complete {
    align-items: center;
    color: #f1f1f1;
    display: flex;
    height: 100vh;
    padding: 100px 300px;
}

#reset_password_complete .card {
    background-color: var(--grey-light);
    border-radius: 5px;
    margin: auto;
    padding: 50px 30px;
    width: 100%;
}

#reset_password_complete .card a {
    color: lightblue;
    text-decoration: none;
}

@media only screen {

    @media (max-width: 750px) {

        #reset_password_complete {
            padding: 100px 25px;
        }

    }

}