#login {
    align-items: center;
    color: #f1f1f1;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow-y: hidden;
}

#login .login-form {
    background-color: #282828;
    border-radius: 5px;
    padding: 50px 30px;
    text-align: center;
}

#login .login-form .info-text {
    font-weight: 300;
    margin-bottom: 35px;
}

#login .login-form .info-text .web-welcome {
    font-weight: 900;
    margin: -15px;
    margin-bottom: 5px;
}

#login .login-form p {
    background-color: #2e2e2e;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 10px;
}

#login .login-form p label {
    margin-bottom: 5px;
}

#login .login-form p input {
    background-color: #282828;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "FontAwesome", "Titillium Web", sans-serif;
    padding: 10px 15px;
    width: 100%;
}

#login .login-form p input::placeholder {
    color: #f1f1f1;
}

#login .login-form p input:-webkit-autofill,
#login .login-form p input:-webkit-autofill:hover, 
#login .login-form p input:-webkit-autofill:focus {
    caret-color: #f1f1f1;
    -webkit-text-fill-color: #f1f1f1;
    -webkit-box-shadow: 0 0 0px 1000px #282828 inset;
    border: 1px solid #3500d3;
    box-shadow: 0 0 0px 1000px #282828 inset;
    transition: background-color 5000s ease-in-out 0s;
}

#login .login-btn {
    background-color: #3500d3;
    border: none;
    border-radius: 3px;
    color: #f1f1f1;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px;
    padding: 10px 15px;
    transition: 0.3s ease-in-out;
    width: 100%;
}

#login .login-btn:hover,
#login .login-btn:focus {
    cursor: pointer;
    box-shadow: 0 5px 0 0 #1c1c1c;
}

#login .login-btn:active {
    box-shadow: none;
    transform: translateY(5px);
}

#login a {
    color: #f1f1f1;
    font-weight: 300;
    text-decoration: none;
}

#login a .fa-external-link-alt {
    font-size: 12px;
    margin-left: 5px;
}

/* @media only screen {

    @media (max-width: 765px) {

        #login .login-form p label{
            margin-right: 0;
            margin-bottom: 5px;
        }

        #login .login-form p input {
            width: 100%;
        }

    }

} */