#login {
    align-items: center;
    color: #f1f1f1;
    display: flex;
    height: 100vh;
    justify-content: center;
}

#login .login-form {
    background-color: var(--grey-light);
    border-radius: 5px;
    padding: 50px 30px;
    text-align: center;
    width: 285px;
}

#login .login-form .info-text {
    font-weight: 300;
    margin-bottom: 35px;
}

#login .login-form .info-text .web-welcome {
    font-weight: 900;
    margin: -15px;
    margin-bottom: 5px;
}

#login .login-form p {
    background-color: var(--grey-lighter);
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 10px;
}

#login .login-form p label {
    margin-bottom: 5px;
}

#login .login-form p label .required {
    color: #ff4d4d;
    opacity: 0;
    transition: 0.3s ease-in-out
}

#login .login-form p label .required.show {
    opacity: 1;
}

#login .login-form p input {
    background-color: var(--grey-light);
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    color: white;
    font-family: "Font Awesome 5 Free", "Titillium Web", sans-serif;
    padding: 10px 15px;
    width: 100%;
}

#login .login-form p input::placeholder {
    color: #f1f1f1;
    font-size: 12px;
    font-weight: 900;
}

#login .login-form p input:-webkit-autofill,
#login .login-form p input:-webkit-autofill:hover, 
#login .login-form p input:-webkit-autofill:focus {
    caret-color: #f1f1f1;
    -webkit-text-fill-color: #f1f1f1;
    -webkit-box-shadow: 0 0 0px 1000px var(--grey-light) inset;
    border: 1px solid #3500d3;
    box-shadow: 0 0 0px 1000px var(--grey-light) inset;
    transition: background-color 5000s ease-in-out 0s;
}

#login .login-btn {
    background-color: #3500d3;
    border: none;
    border-radius: 3px;
    color: #f1f1f1;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 10px;
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    width: 100%;
}

#login .login-btn:hover {
    cursor: pointer;
    box-shadow: 0 5px 0 0 var(--grey-dark);
}

#login .login-btn:active {
    box-shadow: none;
    transform: translateY(5px);
}

#login a {
    color: #f1f1f1;
    font-weight: 300;
    text-decoration: none;
}

#login a .fa-external-link-alt {
    font-size: 12px;
    margin-left: 5px;
}

@media only screen {

    @media (max-width: 790px) {

        #login .login-form {
            width: 300px;
        }

    }

    @media (max-height: 650px) {

        #login {
            height: initial;
        }        

        #login .login-form {
            margin-top: 100px;
        }

    }

}