.msgs {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 999;
}

#msg-error {
    color: #ff4d4d;
    text-align: center;
    visibility: hidden;
    min-width: 250px;
    background-color: rgba(10, 10, 10, 0.8);
    font-weight: bold;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    position: fixed;
    bottom: 30px;
}

#msg-error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

#msg-success {
    color: chartreuse;
    text-align: center;
    visibility: hidden;
    min-width: 250px;
    background-color: rgba(10, 10, 10, 0.8);
    font-weight: bold;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    position: fixed;
    bottom: 30px;
}

#msg-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#msg-info {
    color: #fa7d00;
    text-align: center;
    visibility: hidden;
    min-width: 250px;
    background-color: rgba(10, 10, 10, 0.8);
    font-weight: bold;
    border-radius: 2px;
    padding: 16px;
    z-index: 1;
    position: fixed;
    bottom: 30px;
}

#msg-info.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 9.5s;
    animation: fadein 0.5s, fadeout 0.5s 9.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}
