#sticky_nav {
    align-items: center;
    background-color: none;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    position: fixed;
    transition: 0.3s ease-in-out;
    width: 100%;
    z-index: 999;
}

#sticky_nav .nav-left {
    align-items: center;
    display: flex;
    margin-left: 100px;
}

#sticky_nav .nav-left a {
    border-radius: 50%;
    margin-right: 25px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

#sticky_nav .nav-left a img {
    height: auto;
    width: 100px;
}

#sticky_nav .nav-left form input {
    background-color: var(--grey-lighter);
    border: none;
    color: #f1f1f1;
    font-family: "FontAwesome", "Titillium Web", sans-serif;
    padding: 10px;
    transition: 0.3s ease-in-out;
    width: 300px;
}

#sticky_nav .nav-left form input:hover,
#sticky_nav .nav-left form input:focus {
    box-shadow: 0 0 3px 3px rgba(71, 71, 71, 0.2);
}

#sticky_nav .nav-right {
    align-items: center;
    display: flex;
    margin-right: 100px;
}

#sticky_nav .nav-right .avatar-container {
    cursor: pointer;
    position: relative;
}

#sticky_nav .nav-right .avatar-container .notification {
    background-color: orange;
    border: 3px solid var(--grey-dark);
    border-radius: 50%;
    bottom: 0;
    left: 60%;
    position: absolute;
    right: 0;
    top: 65%;
}

#sticky_nav .nav-right .avatar-container .user-dropdown {
    background-color: var(--purple-normal);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    left: 50%;
    min-width: 200px;
    opacity: 0;
    padding: 10px 30px;
    position: absolute;
    transform: translateX(-50%);
    transition: visibility 0s, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    top: 50%;
    visibility: hidden;
}   

#sticky_nav .nav-right .avatar-container:hover .user-dropdown,
#sticky_nav .nav-right .avatar-container:focus .user-dropdown {
    opacity: 1;
    transition: visibility 1s, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
    top: 100%;
    visibility: visible;
}

#sticky_nav .nav-right .avatar-container .user-dropdown a {
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 5px 10px;
}

#sticky_nav .nav-right .avatar-container .user-dropdown a:hover,
#sticky_nav .nav-right .avatar-container .user-dropdown a:active,
#sticky_nav .nav-right .avatar-container .user-dropdown a:focus {
    background-color: var(--purple-light);
}

#sticky_nav .nav-right .avatar-container .user-dropdown a i {
    margin-right: 10px;
}

#sticky_nav .nav-right .avatar-container .user-dropdown .dropdown-logout {
    display: none;
}


#sticky_nav .nav-right img {
    background-color: var(--grey-lighter);
    border-radius: 50%;
    height: 35px;
    object-fit: cover;
    object-position: center;
    width: 35px;
}

#sticky_nav .nav-right a {
    background-color: rgba(28, 28, 28, 0);
    color: #f1f1f1;
    margin-left: 10px;
    padding: 10px 15px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

#sticky_nav .nav-right a:hover,
#sticky_nav .nav-right a:focus {
    background-color: var(--grey-lighter);
}

@media only screen {

    @media (max-width: 790px) {

        #sticky_nav .nav-left {
            margin-left: 10px;
        }

        #sticky_nav .nav-left a {
            margin-right: 10px;
        }

        #sticky_nav .nav-left a img {
            width: 80px;
        }

        #sticky_nav .nav-left form input {
            display: initial;
            width: 90%;
        }

        #sticky_nav .nav-right {
            margin-right: 10px;
        }

        #sticky_nav .nav-right .avatar-container .user-dropdown {
            left: 0;
            transform: translateX(-80%);
        }

        #sticky_nav .nav-right .avatar-container .user-dropdown .dropdown-logout {
            display: initial;
        }

        #sticky_nav .nav-right a {
            display: none;
        }

        #sticky_nav .nav-right .unlogged {
            display: initial;
        }

        #sticky_nav .nav-right .avatar-container .user-dropdown a {
            display: initial;
        }

    }

}