{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/password_reset/password_reset_confirm.css' %}">{% endblock %}
{% block title %}Reset Password{% endblock %}

{% block content %}

    <section id="reset_password_confirm">

        {% if validlink %}
        <form method="post" class="reset_password_form">
            <div class="info-text">
                <h2>Set new password</h2>
            </div>

            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit">Save</button>
        </form>
        {% else %}
        <div class="card">
            <h2>Invalid token.</h2>
            <p class="card-text">
                <a href="{% url "Main:password_reset" %}">Request a new password reset token</a>
            </p>
        </div>
        {% endif %}

    </section>
{% endblock %}