{% load static %}
<div class="msgs">
    {% if messages %}
        <script type="text/javascript" src="{% static 'assets/js/messages.js' %}"></script>
        {% for message in messages %}
            {% if message.tags == "success" %}
                <div id="msg-success">{{ message }}</div>
                <script>messageEvent("msg-success", 3); </script>
            {% elif message.tags == "error" %}
                <div id="msg-error">{{ message }}</div>
                <script>messageEvent("msg-error", 10);</script>
            {% elif message.tags == "info" %}
                <div id="msg-info">{{ message }}</div>
                <script>messageEvent("msg-info", 3);</script>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>