{% load static %}
{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/navbar.css' %}">{% endblock %}
<nav id="sticky_nav">

	<div class="nav-left">
		<a href="/"><img src="{% static 'assets/img/logo.png' %}"  alt="Spuiz's logo"></a>
		
		{% csrf_token %}
		<form method="GET" autocomplete="off" action="{% url 'Main:search_page' %}">
			<input onfocusout="showBtns()" onfocusin="hideBtns()" name="query" class="search-bar" type="text", placeholder="&#xf002 Search", value="{{ request.GET.q }}">
		</form>
	</div>
	
	<div class="nav-right">
		{% if user.is_authenticated %}
			<div class="avatar-container" tabindex="0">
				{% if not user.user_profile.avatar %}
					<img src="{% static 'assets/img/default.png' %}" alt="Your avatar">
				{% else %}
					<img src="{{ MEDIA_URL }}{{ user.user_profile.avatar.url }}" alt="Your avatar">
				{% endif %}
				{% if has_notification %}<div class="notification"></div>{% endif %}
				<div class="user-dropdown">
					<a href="/{{ user.user_profile.slug }}"><i class="fas fa-user"></i>Profile</a>
					<a href="/create-quiz"><i class="fas fa-pen-square"></i>Create Quiz</a>
					<a href="/notifications"><i class="fas fa-envelope"></i>Notifications</a>
					<a href="/settings"><i class="fas fa-cog"></i>Settings</a>
					<a class="dropdown-logout" href="/logout/?next={{ request.path }}"><i class="fas fa-sign-out-alt"></i>Log out</a>
				</div>
			</div>
			<a href="/logout/?next={{ request.path }}">Log out</a>
		{% else %}
			<a class="unlogged" href="/login/">Login</a>
			<a class="unlogged" href="/register/">Register</a>
		{% endif %}
	</div>

</nav>

<script src="{% static 'assets/js/navbar.js' %}"></script>
