{% load static %}
<nav id="sticky_nav">

	<div class="nav-left">
		<a href="/"><img src="{% static 'assets/img/logo.png' %}"></a>
		
		{% csrf_token %}
		<form method="GET" autocomplete="off">

			<input 
	            action="/search" 
	            name="query" 
	            class="search-bar" 
	            type="text", 
	            placeholder="&#xf002 Search", 
	            value="{{ request.GET.q }}"
	        >

		</form>
	</div>
	
	<div class="nav-right">
		<a href="/login/">Login</a>
		<a href="/register/">Register</a>
	</div>

</nav>