{% extends "index.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">{% endblock %}

{% block content %}
    
    <div id="homepage">

        <section id="hero">

            <div class="info-text">
                <h1 class="title">Enjoy quizzes as a quiz fanatic!</h1>
                <p class="subtitle">Spuiz is a platform that allows you to create quizzes of all genres with ease, with freedom of what you wish to create</p>
            </div>

            <div class="features">
                <div class="feature">
                    <img src="{% static 'assets/svg/undraw_treasure_of9i.svg' %}" alt="discover">
                    <div class="description">
                        <h2 class="feature-title">Discover your obsessions</h2>
                        <p class="feature-info">Complete quizzes and discover new things you enjoy along the way</p>
                    </div>
                </div>
                <div class="feature">
                    <img src="{% static 'assets/svg/undraw_my_app_grf2.svg' %}" alt="anywhere">
                    <div class="description">
                        <h2 class="feature-title">Bring Spuiz anywhere</h2>
                        <p class="feature-info">Responsive app to use on any device, anywhere at any time</p>
                    </div>
                </div>
                <div class="feature">
                    <img src="{% static 'assets/svg/undraw_mention_6k5d.svg' %}" alt="social">
                    <div class="description">
                        <h2 class="feature-title">Getting social</h2>
                        <p class="feature-info">Follow other users and get notified when they create or complete a quiz</p>
                    </div>
                </div>
                <div class="feature">
                    <img src="{% static 'assets/svg/undraw_profile_6l1l.svg' %}" alt="profile">
                    <div class="description">
                        <h2 class="feature-title">Create an online presence</h2>
                        <p class="feature-info">Create a profile and show others your personality with it</p>
                    </div>
                </div>
            </div>

            <a href="/register/">Start Creating</a>

        </section>

        <section id="newest">
            <h2>Newest</h2>
            <div class="quizzes">
                {% for quiz in newest_quizzes %}
                    <div class="quiz">
                        <a href="/{{ quiz.author.user_profile.slug }}/{{quiz.slug}}">
                            <img class="quiz-thumbnail" src="{{ MEAIA_URL }}{{ quiz.thumbnail.url }}" alt="{{ quiz.title }}">
                            <p>{{ quiz.title }}</p>
                        </a>
                        <a class="quiz-author" href="/{{ quiz.author.user_profile.slug }}/">{{ quiz.author.username }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="top_rated">
            <h2>Top Rated</h2>
            <div class="quizzes">
                {% for quiz in top_quizzes %}
                    <div class="quiz">
                        <a href="/{{ quiz.author.user_profile.slug }}/{{quiz.slug}}">
                            <img class="quiz-thumbnail" src="{{ MEAIA_URL }}{{ quiz.thumbnail.url }}" alt="{{ quiz.title }}">
                            <p>{{ quiz.title }}</p>
                        </a>
                        <a class="quiz-author" href="/{{ quiz.author.user_profile.slug }}/">{{ quiz.author.username }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>

    </div>

{% endblock %}
