{% extends "index.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/homepage.css' %}">{% endblock %}

{% block content %}
    
    <div id="homepage">

        <section id="newest">
            <h2>Newest</h2>
            <div class="quizzes">
                {% for quiz in newest_quizzes %}
                    <div class="quiz">
                        <a href="/{{ quiz.author.user_profile.slug }}/{{quiz.slug}}">
                            <img class="quiz-thumbnail" src="{{ MEAIA_URL }}{{ quiz.thumbnail.url }}" alt="{{ quiz.title }}">
                            <p>{{ quiz.title }}</p>
                        </a>
                        <a class="quiz-author" href="/{{ quiz.author.user_profile.slug }}/">{{ quiz.author.username }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="top_rated">
            <h2>Top Rated</h2>
            <div class="quizzes">
                {% for quiz in top_quizzes %}
                    <div class="quiz">
                        <a href="/{{ quiz.author.user_profile.slug }}/{{quiz.slug}}">
                            <img class="quiz-thumbnail" src="{{ MEAIA_URL }}{{ quiz.thumbnail.url }}" alt="{{ quiz.title }}">
                            <p>{{ quiz.title }}</p>
                        </a>
                        <a class="quiz-author" href="/{{ quiz.author.user_profile.slug }}/">{{ quiz.author.username }}</a>
                    </div>
                {% endfor %}
            </div>
        </section>

    </div>

{% endblock %}
