{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/login.css' %}">{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}

    <section id="login">
    
        <form class="login-form" method="POST">

            <div class="info-text">
                <h2 class="web-welcome">Welcome to Spuiz</h2>
                A place to create and answer quizzes
            </div>

            {% csrf_token %}
            {{ form.as_p }}

        <button class="login-btn" type="submit">Authenticate</button>

        <a href="/register">
            Create an account
            <i class="fas fa-external-link-alt"></i>
        </a>

        <br>

        <a style="color:lightblue;" href="{% url 'Main:password_reset' %}">Forgot your password?</a>

        </form>

    </section>

    <script src="{% static 'assets/js/login.js' %}"></script>
    
{% endblock %}