{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/quiz_page.css' %}">{% endblock %}
{% block title %}{{ quiz.quiz_info.title }} by {{ quiz.quiz_info.author.username }}{% endblock %}

{% block content %}
    
    <section id="quiz">
        <img class="backdrop" src="{{ MEDIA_URL }}{{ quiz.quiz_info.thumbnail.url }}" alt="{{ quiz.quiz_info.title }}">
        
        <form class="quiz-info" method="POST">
            {% csrf_token %}
            <img class="author-avatar" src={{ MEDIA_URL }}{{ quiz.quiz_info.author.user_profile.avatar.url }} alt="{{ quiz.quiz_info.author.username }}">
            <div class="quiz-info-wrapper">
                <div class="quiz-info-text">
                    <a href="." class="quiz-title"><h2>{{ quiz.quiz_info.title }}</h2></a>
                    <a href="/{{ quiz.quiz_info.author.user_profile.slug }}" class="quiz-author">by {{ quiz.quiz_info.author.username }}</a>
                </div>
                <div class="quiz-info-btns">
                    <button class="quiz-updownvote" type="submit" value="upvote">{{ quiz.quiz_info.upvotes.count }} Upvote</button>
                    <button class="quiz-updownvote" type="submit" value="downvote">{{ quiz.quiz_info.downvotes.count }} Downvote</button>
                </div>
            </div>
        </form>
        
        <form class="quiz-card" method="POST">

            {% csrf_token %}
            {% for question, answers in quiz.questions.items %}

                <div class="question-card">

                    <div class="wrapper">
                        <p>Question: {{ question }} <span class="required">— this question must be answered</span><p>
                        {% if quiz.quiz_info.media_quiz %}
                            <img src="{{ MEDIA_URL }}{{ question.thumbnail.url }}" alt="{{ question.question }}">
                        {% endif %}
                    </div>

                    {% if quiz.quiz_info.mcq %}
                        <div class="wrapper">
                            <p>Answers: </p>
                            
                            <div class="answer-wrapper">
                            {% for answer in answers %}
                                <label class="answers-label">
                                    <input class="answers" type="radio" name="{{ question.question }}" value="{{ answer }}" required>
                                    <span>{{ answer }}</span>
                                </label>
                            {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="answer-wrapper">
                            <p>Answer: </p>
                            <input class="answers" type="text" name="{{ question.question }}" placeholder="..." required>
                        </div>
                    {% endif %}

                </div>

            {% endfor %}

            <button class="submit-btn" type="submit" value="{{ quiz.quiz_info.mcq | yesno:'yes,no' }}">Submit</button>
        </form>
    </section>

    <script src="{% static 'assets/js/quiz_page.js' %}"></script>

{% endblock %}

