{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/quiz_complete.css' %}">{% endblock %}
{% block title %}{{ completed.quiz.title }} by {{ completed.quiz.author.username }}{% endblock %}

{% block content %}
    {% with total_score=completed.quiz.questions.all.count %}
        <section id="quiz_result">
            <div class="result">

                <h1 class="title">{{ completed.quiz.title }}</h1>
                <img class="thumbnail" src="{{ MEDIA_URL }}{{ completed.quiz.thumbnail.url }}">

                <div class="score">
                    <h2>Your Score: {{ completed.score }} of {{ total_score }}</h2>
                    <p>Percentage Score: {{ percent }}%</p>
                </div>

                <nav class="rate">
                    <p class="stars">
                    <span>Rating:</span>
                        {% for i in stars %}
                            <span class="fa fa-star star checked"></span>
                        {% endfor %}
                        {% for i in remainder %}
                            <span class="fa fa-star star "></span>
                        {% endfor %}
                    </p>
                    <form class="btns">
                        {% csrf_token %}
                        <button class="updownvote-btn" type="submit" value="upvote">{{ completed.quiz.upvotes.count }} Upvote</button>
                        <button class="updownvote-btn" type="submit" value="downvote">{{ completed.quiz.downvotes.count }} Downvote</button>
                    </form>
                </nav>
                {% if user.is_authenticated %}
                    <a class="profile-btn" href="/{{ user.user_profile.slug }}">Go to Profile</a>
                {% else %}
                    <a class="profile-btn" href="/{{ completed.quiz.author.user_profile.slug }}">Go to Author</a>
                {% endif %}
            </div>
        </section>
        <script src="{% static 'assets/js/quiz_complete.js' %}"></script>
    {% endwith %}
{% endblock %}