{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/register.css' %}">{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}
    
    <section id="register">

        <form class="register-form" method="POST">

            <div class="info-text">
                <h2 class="web-welcome">Welcome to Spuiz</h2>
                A place to create and answer quizzes
            </div>

            {% csrf_token %}
            {{ form.as_p }}

        <button class="register-btn" type="submit">Register</button>

        <a href="/login">
            Already have an account? Sign In
            <i class="fas fa-external-link-alt"></i>
        </a>

        </form>

    </section>

    <script src="{% static 'assets/js/register.js' %}"></script>

{% endblock %}