{% extends "index.html" %}
{% load static %}

{% block styles %}<link rel="stylesheet" href="{% static 'assets/css/user_profile/main.css' %}">{% endblock %}
{% block title %}{{ viewing_user.username }}'s Profile{% endblock %}

{% block content %}
    
    <script src="{% static 'assets/js/user_profile/functions.js' %}"></script>
    <section id="user_profile">

        {% if not viewing_user.user_profile.banner %}
            <div class="backdrop-div"></div>
        {% else %}
            <img class="backdrop" src="{{ MEDIA_URL }}{{ viewing_user.user_profile.banner.url }}" alt="{{ quiz.quiz_info.title }}">
        {% endif %}

        <div class="user-info">
            {% if not viewing_user.user_profile.avatar %}
                    <img class="user-avatar" src="{% static 'assets/img/default.png' %}">
                {% else %}
                    <img class="user-avatar" src="{{ MEDIA_URL }}{{ viewing_user.user_profile.avatar.url }}">
            {% endif %}
            <div class="user-info-content">
                <h2 class="user-username">{{ viewing_user.username }}</h2>
                <nav class="user-nav">
                    <div class="user-nav-left">
                        <a href="/{{ viewing_user.user_profile.slug }}">Overview</a>
                        <a href="/{{ viewing_user.user_profile.slug }}/quizzes">Quizzes</a>
                        <a href="/{{ viewing_user.user_profile.slug }}/social">Social</a>
                    </div>
                    <div class="user-nav-right">
                        {% if user.is_authenticated and user == viewing_user %}
                            <a href="/settings">Edit Profile</a>
                        {% else %}
                            {% if not viewing_user in user.user_profile.following.all %}
                                <a>Follow</a>
                            {% else %}
                                <a>Unfollow</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </nav>
            </div>
        </div>


    </section>

    <section id="user_content">

        <div class="user-content">

            {% if viewing_user.user_profile.bio|length > 0 or viewing_user.user_profile.following.all.count > 0 %}
                <div class="user-content-left">
                    {% if viewing_user.user_profile.bio|length > 0 %}
                        <h3 class="user-bio-heading">Biography</h3>
                        <pre class="user-bio">{{ viewing_user.user_profile.bio }}</pre>
                    {% endif %}

                    {% if viewing_user.user_profile.following.all.count > 0 %}
                        <h3 class="user-following-heading">Following</h3>
                        <div class="user-following">
                            {% for following in followings %}
                                {% if not following.user_profile.avatar %}
                                    <a href="/{{ following.user_profile.slug }}">
                                        <img class="user-following-avatar" src="{% static 'assets/img/default.png' %}" alt="{{ following.username }}">
                                    </a>
                                {% else %}
                                    <a href="/{{ following.user_profile.slug }}">
                                        <img class="user-following-avatar" src="{{ MEDIA_URL }}{{ following.user_profile.avatar.url }}" alt="{{ following.username }}">
                                    </a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                    <script>loadCSS("{% static 'assets/css/user_profile/right.css' %}");</script>
            {% endif %}

            {% if completed_quizzes.count > 0 %}
                <div class="user-content-right">
                    <h3 class="activity-heading">Activity</h3>
                    {% for completed_quiz in completed_quizzes %}
                        <a class="quiz" href="/{{ completed_quiz.quiz.author.user_profile.slug }}/{{ completed_quiz.quiz.slug }}">
                            <img src="{{ MEDIA_URL }}{{ completed_quiz.quiz.thumbnail.url }}" alt="{{ completed_quiz.quiz.title }}">
                            <h4>{{ completed_quiz.quiz.title }}</h4>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <script>loadCSS("{% static 'assets/css/user_profile/left.css' %}");</script>
            {% endif %}

            {% if viewing_user.user_profile.bio|length <= 0 and viewing_user.user_profile.following.all.count <= 0 and completed_quizzes.count <= 0 %}
                <h3>{% if user.is_authenticated and user == viewing_user %}You have{% else %}This user has{% endif %} not written a bio, followed anyone or done any quiz.</h3>
            {% endif %}
        </div>

    </section>

{% endblock %}